<% content_for :head do %>
  <title>New retro - WyeRetroApp</title>
<% end %>
<header id="header">
  <div class='nav'>
    <%= image_tag("/assets/wye-logo.png", size: "40x40", class: "header-icon") %>
  </div>
</header>
