<div class="nav">
  <div class="headerItems">
    <Button id="start-new-button" class="start-button">Post your topics!</Button>
    <Button id="time"></Button>
    <%= image_tag("/assets/wye-logo.png", size: "40x40", class: "header-icon") %>
  </div>
</div>
<div class="boards">
  <fieldset class="section" id="mention">
    <legend>To mention</legend>
    <textarea class="txtarea" id="txt0" placeholder="To mention.." rows='1'></textarea>
  </fieldset>
  <fieldset class="section" id="discuss">
    <legend>To Discuss</legend>
  </fieldset>
</div>
