<head>
  <title>Home - Wye RetroApp</title>
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
</head>
<div id="parent">
  <%= image_tag("/assets/wye-logo.png") %>
  <h1 class="welcome-message"><%= @message %></h1>
  <div id="buttons">
    <%= button_to "Start", new_retro_path, method: :get, class: "start-button" %>
    <%= button_to "Continue", '/', method: :get, class: "continue-button" %>
  </div>
</div>
