<div id="parent">

  <%= image_tag("/assets/wye-logo.png") %>

  <h1 class="welcome-message"><%= @message %></h1>

  <div>
    <button class="start-button">Start</button>
    <button class="continue-button">Continue</button>
  </div>

</div>
