<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

<div id="parent">

  <%= image_tag("/assets/wye-logo.png") %>

  <h1 class="welcome-message"><%= @message %></h1>

  <div id="buttons">
    <button href=# class="start-button">Start</button>
    <button href=# class="continue-button">Continue</button>
  </div>

</div>
