<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

<div id="parent">
  <%= image_tag("/assets/wye-logo.png") %>
  <h1 class="welcome-message"><%= @message %></h1>
  <%= button_to "Start", 'retro/new', method: :get, class: "start-button" %>
</div>
