<% content_for :head do %>
  <title>New retro - WyeRetroApp</title>
<% end %>
<div id="header">
  <div id="nav">
    <div class="headerIcons">
      <Button id="start-new-button" class="start-button">Post your topics!</Button>
      <Button id="time"></Button>
      <%= image_tag("/assets/wye-logo.png", size: "40x40", class: "header-icon") %>
    </div>
  </div>
</div>
<div id="Boards">
  <fieldset id="discuss">
    <legend>To Discuss</legend>
  </fieldset>
</div>


<% content_for :script do %>
  <%= javascript_include_tag 'retros' %>
<% end %>
