@import url(web-fonts-url("Cabin"));

.parent {
  font-family: 'Cabin', sans-serif;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    padding: 5px 5px 5px 15px;
    color: #696969;
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 5%;
  }
}

.start-button {
  outline: none;
  min-width: 130px;
  padding: 2px;
  background: linear-gradient(#fffdfd, #bbb6b6);
  border-radius: 5px;
  border-width: 1px;
  border-color: #5f5a5a;
  font-size: 15px;
}
