#header {
  text-align: right;
  margin: 0;

  .nav {
    background-color: #696969;
    height: 60px;
    margin-bottom: 20%;

    .header-icon {
      border-radius: 30px;
      background-color: white;
      padding: 4px;
      margin-right: 15px;
      margin-top: 5px;
    }
  }
}
